# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.review':
  'Chapter':
    'prefix': 'ch'
    'body': '={chap-heading}'
  'Section':
    'prefix': 'sec'
    'body': '=={sec-heading}'
  'Single Line Comment':
    'prefix': 'slc'
    'body': '#@#'
  'Multi-line Comment':
    'prefix': 'mlc'
    'body': """
      #@+++
        comment here
      #@---
      """
  'Bold':
    'prefix': 'bld'
    'body': '@<b>{}'
  'Strong':
    'prefix': 'strng'
    'body': '@<strong>{}'
  'Program List':
    'prefix': 'plst'
    'body': """
      //list[label][desc]{

      //}
      """
  'Terminal':
    'prefix': 'term'
    'body': """
      //terminal[label][desc]{

      //}
      """
  'Footnote':
    'prefix': 'ftn'
    'body': """
      本文テキスト@<fn>{label}

      //footnote[label][脚注テキスト]
      """
  'Image':
    'prefix': 'img'
    'body': '//image[fileName][desc][scale=1.0]'
  'Note':
    'prefix': 'note'
    'body': """
      //note[note title]{
        note text
      //}
      """
  'New Line':
    'prefix': 'br'
    'body': '@<br>{}'
  'Empty Line':
    'prefix': 'kugyo'
    'body': '//blankline'
  'Gaiyou':
    'prefix': 'gaiyou'
    'body': """
      //abstract{
        概要テキスト
      //}
      """
  'Column':
    'prefix': 'clm'
    'body': """
      ===[column]


      ===[/column]
      """
  'URL':
    'prefix': 'url'
    'body': '@<href>{url}'
  'Link':
    'prefix': 'link'
    'body': '@<href>{url, テキスト}'
  'quote':
    'prefix': 'quote'
    'body': """
      //quote{

      //}
      """
  'Comment in List':
    'prefix': 'cil'
    'body': '@<balloon>{}'
  'New Page':
    'prefix': 'newpage'
    'body': '//clearpage'
